.main-wrapper {
	font-family: 'Noto Sans SC', sans-serif;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
/*	border: 1px solid #E94B3C;*/
	max-width: 960px;
}


.start {
	color: #fff;
	font-size: 1em;
	background-color: #DD4132;
	width: 120px;
	height: 50px;
	/*border-radius: 10px;*/
	margin: 0 10px;
}

.start .hidden {
	display: none;
}


.game-board {
	margin: 0;
	padding: 50px;
	/*border: 3px solid #0000ff;*/
	background-color: #F5D6C6;
}

.game-board .hidden {
	display: none;
}

.instructions-wrapper {
	display: flex;
	flex-direction: row;
	/*border: 1px solid #00ff00;*/
}


.msg {
	font-family: 'Fredoka One', cursive;
	margin: 0 0 30px 0;
	width: 100%;
	text-align: center;
	font-size: 3em;
}

.game-status {
	margin: 40px 0 0 0;
	font-weight: 700;
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	background-color: #FF6F61;
}


.game-in-play {
	/*width: 100%;*/
/*	display: flex;
	justify-content: center;*/
	/*border: 1px solid #00ff00;*/
	margin: 20px 0 20px 0;
}

.player-1-bar {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #FF6F61;
	padding: 0 30px;
}

.player-1-title {
	font-size: 2em;
/*	background-color: #FECC66;*/
}

.player-1-points {
/*	background-color: #FD8008;*/
}

.player-1-cards {
	display: flex;
	flex-direction: row;
	padding: 20px 20px 0 20px;
}

.player-1-cards .hidden {
	display: none;
}

.player-2-bar {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #6B5B95;
	color: #fff;
	padding: 0 30px;
}

.player-2-title {
	font-size: 2em;
/*	background-color: #66CCFF;*/
}

.player-2-points {
/*	background-color: #0F80FF;*/
}

.player-2-cards {
	display: flex;
	flex-direction: row;
	padding: 20px 20px 0 20px;
}


.player-2-cards .hidden {
	display: none;
}

.cards {
	display: block;
	margin: 20px 0;
	width: 100px;
	height: 100px;
/*	border: 1px solid red;*/
	background-color: #fff;
	border-radius: 5px;
}

.cards .hidden {
	display: none;
}


.versus {
	font-size: 2em;
/*	display: flex;
	align-items: center;*/
}

.versus .hidden {
	display: none;
}

.player-1-board {
	/*width: 300px;*/
}

.player-1-board .hidden {
	display: none;
}

.player-2-board {
	/*width: 300px;*/
}

.player-2-board .hidden {
	display: none;
}


.player-1-choice {
	width: 200px;
	height: 200px;
	margin: 0;
	padding: 0;
/*	border: 1px solid #000;*/
	border-radius: 10px;
	background-color: #fff;
	box-sizing: content-box;
}

.player-2-choice {
	width: 200px;
	height: 200px;
	margin: 0;
	padding: 0;
/*	border: 1px solid #000;*/
	border-radius: 10px;
	background-color: #fff;
	box-sizing: content-box;
}

.player-1-label {
	display: block;
	text-align: center;
	font-size: 1.5em;
}

.player-2-label {
	display: block;
	text-align: center;
	font-size: 1.5em;
}